:root {
  margin: 0;
  padding: 0;
  background-image: url('../public/b1d55db566173366b2889dd2305b6475.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
